.tab h2 {
  font-size: 1.2em;
  margin: 0;
  color: white;
}

.tab-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-bar li {
  padding: 0.5rem 0.75rem;
  margin: 0 4px 0 0;
  font-size: 0.95rem;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: rgb(27, 79, 121);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC",
    "黑體-繁", "Heiti TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體",
    "Microsoft JhengHei", sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  width: 80px;
  height: 1rem;
  text-align: center;
  overflow: hidden;
}

#addLayer {
  width: initial;
}

.tab-bar li:hover {
  background-color: rgb(118, 89, 245);
}

.tab-bar li.active {
  background-color: rgb(41, 163, 126);
}

.tab-bar li.dragging {
  border-radius: 5px;
  background-color: rgb(84, 104, 98);
  box-shadow: 5px 5px rgba(128, 128, 128, 0.25);
  cursor: grab;
  z-index: 100;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  background-color: rgb(41, 163, 126);
  display: none;
}

.tab.active {
  display: flex;
}

.tab label {
  color: white;
}

.tab img {
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tab > div {
  margin: 0 1em;
}

.layer-panel__img-container {
  max-width: 250px;
  max-height: 250px;
}

@media (max-width: 768px) {
  .tab-bar li {
    box-sizing: border-box;
    padding: 7px 16px;
    margin: 0 2px 0 0;
    font-size: 14px;
    width: calc((100% / 3) - 4px);
    height: 32px;
  }
}
